.styledMainWorks {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 100%;
    -webkit-box-shadow: 4px -5px 21px -14px rgba(0,0,0,0.69);
    -moz-box-shadow: 4px -5px 21px -14px rgba(0,0,0,0.69);
    box-shadow: 4px -5px 21px -14px rgba(0,0,0,0.69);
}

.styledMainWorks2 {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    -webkit-box-shadow: 4px -5px 21px -14px rgba(0,0,0,0.69);
    -moz-box-shadow: 4px -5px 21px -14px rgba(0,0,0,0.69);
    box-shadow: 4px -5px 21px -14px rgba(0,0,0,0.69);
    overflow: hidden;
    cursor: grab;
}

.styledMainWorksContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.styledMainWorksContainer2 {
    display: flex;
    flex-direction: row;
}

.styledMainWorksContainer div {
    width: 30%;
    height: 60vh;
    border-radius: 30px;
    text-align: center;
    font-weight: bolder;
    color: white;
    background-color: black;
}

.styledMainWorksContainer2 div {
    width: 270px;
    height: 60vh;
    border-radius: 30px;
    text-align: center;
    font-weight: bolder;
    color: white;
    background-color: black;
    margin-left: 10px;
}

.styledMainWorks span {
    color: #05de7d;
    font-size: larger;
}

.styledMainWorks2 span {
    color: #05de7d;
    font-size: larger;
}

.styledMainWorksContainer div:hover {
    border: 1.5px solid #05de7d;
    background-color: rgba(63, 59, 59, 0.212);
    transition: all 2s ease;
    border-radius: 45px;
}

@media (min-width: 800px) {
    .styledMainWorks2 {
        display: none;
    }
}

@media (max-width: 800px) {
    .styledMainWorks {
        display: none;
    }
}