
.styledFooter {
    margin: 15px;
}

.styledContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.styledSocialMedia {
    width: 40%;
}

.styledContacts {
    width: 40%;
}

.styledCredits {
    border-top: 1px solid rgba(169, 169, 169, 0.61);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}





