
.styledFooter {
    margin: 20px 0px 0px 0px;
    background: rgb(32,194,129);
    background: linear-gradient(30deg, rgba(32,194,129,1) 3%, rgba(29,139,253,1) 50%, rgba(34,23,196,1) 100%);
}

.styledContainerFooter {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.styledSocialMedia {
    width: 40%;
    color: white;
}

.styledSocialMedia li{
    margin-top: 20px;
}

.styledContacts {
    width: 40%;
}

.styledContacts h2 {
    color: white;
}

.styledContacts ul {
    color: white;
    display: block;
}

.styledContacts li {
    margin: 20px 0px 0px 0px;
}

.styledCredits {
    border-top: 1px solid rgba(0, 0, 0, 0.185);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: rgba(51, 51, 51, 0.726);
}

.icons:hover {
    color: #05de7d;
}

@media (max-width: 915px) {
    .styledContacts {
        display: none;
    }

    .styledContainerFooter {
        display: flex;
        margin: 0% 0% 0% 0%;

    }

    .styledSocialMedia {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
    }

    .styledSocialMedia a {
        margin: 0px 50px 0px 10px;
    }
}

@media (max-width: 400px) {
    .styledCredits {
        display: none;
    }
}

