
.styledFooter {
    margin: 20px 0px 0px 0px;
    background: rgb(32,194,129);
    background: linear-gradient(30deg, rgba(32,194,129,1) 3%, rgba(29,139,253,1) 50%, rgba(34,23,196,1) 100%);
}

.styledContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.styledSocialMedia {
    width: 40%;
    color: white;
}

.styledSocialMedia li{
    margin-top: 20px;
}

.styledContacts {
    width: 40%;
}

.styledContacts h2 {
    color: white;
}

.styledContacts ul {
    color: white;
    display: block;
}

.styledContacts li {
    margin: 20px 0px 0px 0px;
}

.styledCredits {
    border-top: 1px solid rgba(0, 0, 0, 0.603);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}



.icons:hover {
    color: #05de7d;
}



