body {
    display: flex;
    justify-content: center;
}

#mainContactPage {
    margin-top: 3%;
    width: 85vw;
    height: 90vh;
    display: flex;
    align-items: center;
    border: 1px solid #05de7d;
    -webkit-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
    border-radius: 50px;
}

.containerContactPage {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contentContactPage {
    width: 60%;
    height: 90vh;
    border-right: 1px solid #05de7cc4;
}
