body {
    background-image: url("/cool-background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
}

#mainContactPage {
    background-color: rgba(255, 255, 255, 0.329);
    margin-top: 3%;
    width: 85vw;
    height: 90vh;
    display: flex;
    align-items: center;
    border: 1px solid #05de7d;
    -webkit-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
    border-radius: 50px;
}

.containerContactPage {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contentContactPage {
    width: 80%;
    height: 90vh;
    border-right: 1px solid #05de7cc4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentContactPage span {
    color: #05de7d;
}


.ContactInput {
    display: block;
    width: 100%;
    padding: 2px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.384);
}

.ContactInput:hover {
    background-color: rgba(54, 63, 63, 0.219);
    border: 1px solid rgba(0, 0, 0, 0.158);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.ContactInput:focus-visible {
    border: 1px solid #05de7d;
    border-radius: 3px;
    outline: none;
}

#contactTextArea {
    width: 100%;
    resize: none;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.384);
}

#contactTextArea:hover {
    background-color: rgba(54, 63, 63, 0.219);
    border: 1px solid rgba(0, 0, 0, 0.158);
}

#contactTextArea:focus-visible {
    border: 1px solid #05de7d;
    border-radius: 3px;
    outline: none;
}


button{
    display: block;
    border: unset;
    transition: all .3s;
    background: green;
    border-radius: 20px;
    padding: .6em 3em;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right,#1cbe99 0%,#05de7d 50%,#1cbe99 100%);
    background-size: 200%;
    cursor: pointer;
    margin-left: 75px;
}

button:hover {
    background-position: right center;
}


#imgContactPage {
    scale: 1.2;
    margin-top: 450px;
    position: relative;
    left: 65%;
    top: 10%;
    transform: translate(-50%, -50%);
    animation-name: float;
    animation-duration: 4s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
  
  @keyframes float {
    0% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -60%); 
    }
    100% {
      transform: translate(-50%, -50%);
    }
}

@media (max-width: 1000px) {
    .ilustrationContactPage {
        display: none;
    }

    .contentContactPage {
        border: none;
    }
}