body {
    display: flex;
    justify-content: center;
}

#mainContactPage {
    margin-top: 3%;
    width: 85vw;
    height: 90vh;
    display: flex;
    align-items: center;
    border: 1px solid #05de7d;
    -webkit-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -10px rgba(0,0,0,0.75);
    border-radius: 50px;
}

.containerContactPage {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contentContactPage {
    width: 60%;
    height: 90vh;
    border-right: 1px solid #05de7cc4;
    display: flex;
    flex-direction: column;

}

.ContactInput {
    display: block;
    width: 60%;
}

#contactTextArea {
    width: 60%;
    resize: none;
}

button{
    border: unset;
    transition: all .3s;
    background: green;
    border-radius: 20px;
    padding: .6em 3em;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right,#1cbe99 0%,#05de7d 50%,#1cbe99 100%);
    background-size: 200%;
    cursor: pointer;
}

button:hover {
    background-position: right center;
}