.styledCard {
    border: 1px solid rgb(128, 123, 123);
    border-radius: 45px;
    width: 90%;
    height: 300px;
    background-repeat: no-repeat;
    margin: 10px 0px 10px  10px;

}


.styledCard:hover {
    transition: all 1.5s ease;
    border-radius: 20px;
}

.styledList {
    display: grid;
    grid-template-columns: repeat(3, minmax(20%, 2fr));
    column-gap: 1rem;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(334deg, #08f78b, rgba(39, 28, 196, 0.938), #08f78b);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
    border-radius: 20px;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.styledProjectsList {
    text-align: left;
    margin-bottom: 30px;
}

.styledProjectsList h1 {
    color: #05de7d;
    margin:30px 0px 10px 15px;
}

.styledProjectsList h3 {
    margin:0px 0px 30px 15px;
}

.styledfilter {
    display: flex;
    justify-content: end;
    -webkit-box-shadow: 3px -9px 21px -10px rgba(0,0,0,0.3);
    -moz-box-shadow: 3px -9px 21px -10px rgba(0,0,0,0.3);
    box-shadow: 3px -9px 21px -10px rgba(0,0,0,0.3);
}

.linkfilter {
    margin: 10px 30px 10px 5px;
}