.styledCard {
    border: 1px solid rgb(128, 123, 123);
    border-radius: 5px;
    width: 30%;
    height: 300px;
    background-color: rgb(135, 206, 206);
}

.styledCard:hover {
    background: linear-gradient(to right bottom,#1cbe98a6,#05de7cab,#1cbe98a1);
    opacity: 10px;
    transition: all 1.5s ease;
}

.styledList {
    display: flex;
    flex-wrap: wrap;
}

.styledProjectsList {
    text-align: left;
    margin-bottom: 30px;
}

.styledProjectsList h1 {
    color: #05de7d;
    margin:30px 0px 10px 15px;
}

.styledProjectsList h3 {
    margin:0px 0px 30px 15px;
}