#styledArticleOrders {
    height: auto;
    text-align: center;
    border-top: 1px solid #05de7c8c;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.styledSectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0% 0% 0% 7.5%;
    width: 100%;
    height: 60vh;
}

.styledSectionContainer button {
    width: 30%;
    margin: 5px 0px 10px 0px;
}

.styledSectionContainer textarea {
    width: 70%;
    resize: none;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    border: 1px solid #05de7d;
}

.styledSectionContainer textarea:hover {
    background-color: rgba(54, 63, 63, 0.219);
}

.styledSectionContainer input {
    width: 70%;
    border-radius: 5px;
    border: 1px solid #05de7d;
}

.styledSectionContainer input:hover {
    background-color: rgba(54, 63, 63, 0.219);
}

.styledSpan {
    color: #05de7d;
    font-weight: bolder;
    font-size: 35px;
}

@media (max-width:910px ) {
    .lottieOrders {
        display: none;
    }

    .styledSectionContainer {
        margin: 0px;
    }

    .styledSectionContainer textarea {
        width: 90%;
    }

    .styledSectionContainer input {
        width: 90%;
    }
}

