.styledNavMobile {
    display: none;
}

.logo {
    width: 120px;

}

#styledHero img {
    scale: 1.5;
    margin-top: 90px;
    position: relative;
    top: 56%;
    left: 20%;
    transform: translate(-50%, -50%);
    animation-name: float;
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @keyframes float {
    0% {
      transform: translate(-50%, -50%);
    }
    50% {
      transform: translate(-50%, -70%); 
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }

.styledHeaderContainer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(334deg, #08f78b, rgb(39, 28, 196), #08f78b);
    background-size: 180% 180%;
    animation: gradient-animation 6s ease infinite;
}
    

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.6px;
}

.styledHeader  {
    transition: all ease-in .4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 20px 50px 0 rgba(0,0,0,.05); 
    z-index: 1;
    background: transparent;
    color: #fff;

}

.active .styledLinkHeader {
    color: black;
}

nav{
    display: flex;
    max-width: 80%;
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style-type:none;
    justify-content: space-around;
    gap: 20px;
}

button {
    border: unset;
    transition: all .3s;
    background: green;
    border-radius: 20px;
    padding: .6em 3em;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right,#1cbe99 0%,#05de7d 50%,#1cbe99 100%);
    background-size: 200%;
    cursor: pointer;
}

button:hover {
    background-position: right center;
}

a{
    color: #fff;
    font-weight: 1000;
    text-decoration: none;
}


#styledHero button {
    border: unset;
    transition: all .3s;
    background: green;
    border-radius: 20px;
    padding: .6em 3em;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right,#1cbe99 0%,#05de7d 50%,#1cbe99 100%);
    background-size: 200%;
    cursor: pointer;
    width: 50%;
}

#styledHero {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 45%;
    text-align: center;
    margin-top: 80px;
}

.container h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 45px;
}

.container h2 {
    color: rgba(255, 255, 255, 0.767);
    margin-bottom: 3rem;
}

.myImage {
    width: 25px;
    height: 100px;
}


@media (max-width: 3000px) {
    #mobile {
        display: none;
    }
}

@media (max-width: 1120px) {
    #styledHero img {
        scale: 1.2;
        top: 50%;
        left: 20%;
    }

}

@media (max-width: 1010px) {
    

    img {
        display: none;
    }

    .logo {
        display: block;
    }

    .container {
        width: 70%;
    }

    .container h1 {
        font-size: 35px;
    }
}

@media (max-width: 870px) {
    #styledHero {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90vh;
    }


    .styledHeaderContainer {
        height: 90vh;
    }
}

@media (max-width: 750px) {
    body {
        overflow-x: hidden;
    }
    
    #styledHero {
        height: 100%;
    }

    .styledNavMobile {
        display: block;
        width: 10%;
        cursor: pointer;
    }

    .styledNavMobile div {
        height: 2px;
        width: 30px;
        margin: 4px 0px 2px 0px;
        background-color: #08f78b;
    }


    .navList  {
        position: absolute;
        top: 3.5vh;
        right: 0;
        width: 35vw;
        height: 72.5vh;
        background: linear-gradient(334deg, #08f78b, rgb(39, 28, 196), #08f78b);
        background-size: 180% 180%;
        animation: gradient-animation 6s ease infinite;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
    }

    .navList.active {
        transform: translateX(0);
    }

    .styledHeaderContainer {
        height: 95vh;
    }
}

@media (max-width: 550px) {
    .container h1 {
        font-size: 30px;
        margin-top: 40px;
        text-align: left;
    }

    #mobile {
        display: flex;
        justify-content: center;
    }

    .container h2 {
        font-size: 20px;
        text-align: left;
    }

    .container {
        width: 90%;
    }

    .styledHeader button{
        display: none;
    }

    .container button {
        width: 100%;
    }

    .styledHeaderContainer {
        height: 95vh;
    }
}
