* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.6px;
}

.styledHeader  {
    transition: all ease-in .4s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 20px 50px 0 rgba(0,0,0,.05); 
    z-index: 1;
    background: transparent;

}

nav{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    list-style-type:none;
    justify-content: space-around;
    gap: 20px;
}

button {
    border: unset;
    transition: all .3s;
    background: green;
    border-radius: 20px;
    padding: .6em 3em;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right,#1cbe99 0%,#05de7d 50%,#1cbe99 100%);
    background-size: 200%;
    cursor: pointer;
}

button:hover {
    background-position: right center;
}

a{
    color: #fff;
    font-weight: 1000;
    text-decoration: none;
}


.styledHero button {
    border: unset;
    transition: all .3s;
    background: green;
    border-radius: 20px;
    padding: .6em 3em;
    color: white;
    text-decoration: none;
    background: linear-gradient(to right,#1cbe99 0%,#05de7d 50%,#1cbe99 100%);
    background-size: 200%;
    cursor: pointer;
    width: 50%;
}

.styledHero {
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container {
    width: 45%;
    text-align: center;

}

.container h1 {
    color: #fff;
    font-weight: bolder;
    font-size: 45px;
}

.container h2 {
    color: rgba(255, 255, 255, 0.767);
    margin-bottom: 3rem;
}

.myImage {
    width: 25px;
    height: 100px;
}