#styledMain {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

span {
    font-weight: bolder;
}

.styledContainer {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#styledContext {
    font-size: 18px;
}


.styledLottie {
    display: flex;
    flex-direction: column;
    width: 40%;
    color: white;
    margin: 0px 100px 0px 0px;
    padding-top: 10px;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#styledContext {
    color: darkgray;
}

.styledParagraph {
    font-size: 20px;
    color: darkgray;
}

.styledCounterContainer {
    font-weight: bolder;
    font-size: 65px;
    display: flex;
    flex-direction: row;
    color: aliceblue;
}

.styledCounter {
    padding: 4px;
    margin-left: 30px;
}


.styledPContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

@media (max-width: 900px) {
    .styledCounter {
        margin-left: 10px ;
    }
    
    .lottieClass {
        display: none;
    }

    .styledLottie {
        width: 100%;
        display: flex;
        margin: 0;
    }

    .styledMain {
        width: 100%;
    }

    .styledCounterContainer {
        font-size: 40px;
        text-align: center;
    }

    .styledContainer {
        width: 100%;
    }

    #styledContext p {
        width: 100%;
    }
}